/* home.css */

.home-mf {
    position: relative;
    background-image: url('https://images.pexels.com/photos/5926398/pexels-photo-5926398.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cambia el valor de opacidad según lo desees */
  }
  
  .home-mf .content {
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Sombra de texto para mejor legibilidad */
  }
  
  .home-mf h1 {
    font-size: 3rem;
    margin: 0;
  }
  
  .home-mf p {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 10px;
  }
  