.work-mf {
  margin: 0 auto;
  padding: 100px 20px;
  background-color: #f9f9f9;
}

.work-mf header{
text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.col-4 {
  width: calc(33.33% - 20px);

  margin: 0 10px;
}

.box {
  height: 90%;
  background: #f0f0f0;
  padding: 20px;
  margin-bottom: 20px;
  text-align: justify;
}
@media (max-width: 1024px) {
  .col-4 {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .col-4 {
    width: 100%;
    margin: 0;
  }
}